<div class="container">
			<div class="header">
				<img src="http://nfpvipmcdonalds.com/res/uploads/webist/0/3/7070/res/19065/brandbanner-mcd.png?1">
			</div>
		</div>

		<div class="container">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#menu1">Breakfast</a></li>
			  <li><a data-toggle="tab" href="#menu2">Regular</a></li>
			  <li><a data-toggle="tab" href="#menu3">Dollar Menu</a></li>
			</ul>

			<div class="tab-content">
			  <div id="menu1" class="tab-pane fade in active">
			    <h3>Breakfast</h3>
			    {{ selectedRestaurant.menus }}
			  </div>
			  <div id="menu2" class="tab-pane fade">
			    <h3>Regular</h3>
			    <p>Some content in menu 1.</p>
			  </div>
			  <div id="menu3" class="tab-pane fade">
			    <h3>Dollar Menu</h3>
			    <p>Some content in menu 2.</p>
			  </div>
			</div>
			{{restaurantId}}
		</div>