<div class="container">
			<div class="header">
				<h1>{{ selectedRestaurant.name}}</h1>
			</div>
		</div>

		<div class="container">
		<!-- Dynamic tabs for each menu -->
			<uib-tabset active="active">
			    <uib-tab index="$index + 1" ng-repeat="menu in selectedRestaurant.menus" heading="{{menu.name}}" disable="tab.disabled">
			    <br>
			    <ul ng-repeat="item in menu.items">
			    	<li>{{ item.name }}......................{{ item.price }}</li>
			     </ul>
			    </uib-tab>
		 	</uib-tabset>
		 	
			</div>
		</div>